
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	line-height: 1.5;
	background-color: #f9f9f9;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	background-color: #050267;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

header img {
	width: 150px;
	height: auto;
	margin-left: 20px; 	
}

nav {
	margin-left: auto;
}

nav a {
	color: #fff;
	text-decoration: none;
	margin-left: 10px;
	font-weight: bold;
}

nav a.button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #050267;
	color: #fff;
	text-decoration: none;
	border-radius: 7px;
	text-align: center;
	cursor: pointer;
	border: none;
}

nav a.button:hover {
	background-color: #A43A13;
}

h2 {
	margin-left: 30px;
}

.product-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 80px; 
}

.product {
	width: 250px;
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: #f1f1f1;
	padding: 20px;
	border-radius: 5px;
}

.product img {
	width: 100%;
	height: 150px; 
	object-fit: cover;
	margin-bottom: 10px;
	border-radius: 5px;
}

.product h3 {
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 18px;
}

.product p {
	margin-bottom: 10px;
	font-size: 14px;
}

.button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #05008e;
	color: #fff;
	text-decoration: none;
	border-radius: 7px;
	text-align: center;
	cursor: pointer;
	border: none;
}

.button:hover {
	background-color: #A43A13;
}

.search-form {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.search-form input[type="text"] {
	padding: 10px;
	width: 300px;
	border: none;
	border-radius: 5px;
}

.search-form button {
	padding: 10px 20px;
	background-color: #050267;
	color: #fff;
	border: none;
	border-radius: 5px;
	margin-left: 10px;
	cursor: pointer;
}

.search-form button:hover {
	background-color: #A43A13;
}

footer {
	background-color: #050267;
	color: #fff;
	padding: 20px;
	text-align: center;
	width: 100%;
	position: fixed;
	bottom: 0;
}
.contact-form {
	max-width: 400px;
	margin: 0 auto;
  }
  
  .contact-form h3 {
	font-size: 24px;
	margin-bottom: 20px;
	color: #050267;
  }
  
  .contact-form label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
	color: #050267;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
  }
  
  .contact-form textarea {
	height: 150px;
  }
  
  .contact-form button {
	display: block;
	width: 100%;
	padding: 10px;
	background-color: #050267;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  .contact-form button:hover {
	background-color: #A43A13;
  }

footer p {
	margin-top: 10px;
}
main {
	margin-bottom: 80px;
	padding-bottom: 50px;
}